include ../profile_layout
.container
      h1.page-header 내가 등록한 숙소
      
      table.table.table-striped.table-bordered
        thead
          tr
            th 숙소이름
            th 도시
            th 우편번호
            th 시작날짜
            th 종료날짜
            th 가격
        tbody
          each room in rooms
            tr
              td 
                a(href='/rooms/#{room._id}')= room.title
              td= room.city
              td= room.post_number
              td= moment(room.start_date).format('YYYY-MM-DD')
              td= moment(room.end_date).format('YYYY-MM-DD')
              td= room.price
              