div.border
  .col-xs-8.col-md-9(style="width:100%")
      h2.price 예약
      h3="￦"+room.price
    .col-md-12
      form(method='post', action='/rooms/#{room._id}/booking')
        .col-md-12.col-lg-12(style="margin-bottom:20px;padding:0px")
            label(for='start_date') 체크인
            input.form-control.check_width(type='date', id='start_date', name='start_date')
            
            label(for='end_date') 체크아웃
            input.check_width.form-control(type='date', id='end_date', name='end_date')
              
            label(for='occupancy') 숙박 인원
            .select.col-lg-6.col-md-6
              select.form-control.check_width(name='occupancy')
                option(value='1', selected) 1
                option(value='2') 2
                option(value='3') 3

    .book-it__subtotal.col-md-12
      div
        table.table
          caption
            span 요금 내역
          thead
            tr
              th
                span 요금 설명
              th
                span 금액
          tbody
            tr
              th
                span 숙소
                span &nbsp;
              td
                div
                  span="￦"+room.price
            tr
              th
                span 서비스 수수료
                span &nbsp;
              td
                  div
                    span="￦"+parseInt(room.price)*0.2
              tr
                th
                  span 합계
                td
                  span="￦"+(parseInt(room.price)*1.2)
      .book-it__btn-width
        button.btn.btn-primary.btn-large.btn-block(type='submit') 예약 요청
  div(style="padding:2em 0em 3em")
    form(method='post', action='/rooms/#{room._id}/Favorite')
        .book-it__btn-width
          button.btn.btn-primary.btn-large.btn-block(type='submit') Favorite 목록에 추가