h1= room.title
h4= room.city

  .col-md-12.col-xs-12.feature
    hr
    .col-md-11.col-xs-12
      h3 상세설명  
    .col-md-11.col-xs-12.context
      p.room=room.description
    hr
    .col-md-4.col-xs-12
      h3 시설
    .col-md-7.col-xs-12.context
      p.room=room.facilities
    .col-md-4.col-xs-12
      h3 규칙
    .col-md-7.col-xs-12.context
      p.room=room.role
    .col-md-4.col-xs-12
      h3 설명
    .col-md-7.col-xs-12.context
      p.room=room.description
    .col-md-4.col-xs-12
      h3 예약 가능 여부
    .col-md-7.col-xs-12
      p.room=moment(room.start_date).format('YYYY-MM-DD') + " ~ " + moment(room.end_date).format('YYYY-MM-DD')
  .col-md-12.col-xs-12
    div#map(style="width:100%;height:350px;")
    script(type='text/javascript').
      var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
          mapOption = {
              center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
              level: 3 // 지도의 확대 레벨
          };  

      // 지도를 생성합니다    
      var map = new daum.maps.Map(mapContainer, mapOption); 

      // 주소-좌표 변환 객체를 생성합니다
      var geocoder = new daum.maps.services.Geocoder();

      // 주소로 좌표를 검색합니다
      geocoder.addr2coord('#{room.address}', function(status, result) {

          // 정상적으로 검색이 완료됐으면 
          if (status === daum.maps.services.Status.OK) {

              var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);

              // 결과값으로 받은 위치를 마커로 표시합니다
              var marker = new daum.maps.Marker({
                  map: map,
                  position: coords
              });

              // 인포윈도우로 장소에 대한 설명을 표시합니다
              var infowindow = new daum.maps.InfoWindow({
                  content: '<div style="width:150px;text-align:center;padding:6px 0;">숙소 위치</div>'
              });
              infowindow.open(map, marker);

              // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
              map.setCenter(coords);
          } 
      });
    hr
  .col-md-12.col-xs-12
    h3 후기
    each post in posts
      .col-md-12.col-xs-12
        h4=post.user_name님
        h4=moment(post.createdAt).format('YYYY-MM')
      .col-md-12.col-xs-12
        h4=post.content
        if post.comment
          .col-md-12.col-xs-12
            h4="ㄴ관리자 : " + post.comment
        .col-md-12.col-xs-12
        if user.ifRoot
          form(action='/rooms/#{post._id}/comment', method='POST')
            h4 관리자용 댓글달기
            .col-md-10.col-xs-12
              input.form-control(id='comment', name='comment' placeholder = 'comment')
            .col-md-2.col-xs-12
              button.btn.btn-primary.btn-large.btn-block(type='submit') 등록하기
    
  if currentUser
    .col-md-11.col-xs-12(style="margin-bottom:1em")
        h2 후기 작성
        form(action='/rooms/#{room._id}/post', method='POST')
          .col-md-10.col-xs-12
              textarea.form-control(id='reply', name='reply' placeholder = 'reply')
          .col-md-2.col-xs-12
              button.btn.btn-primary.btn-large.btn-block(type='submit' style="margin:1em 0") 등록하기
    
                