div.border.affix-top
  .col-xs-8.col-md-9(style="width:100%")
      h2.price 예약
      h3="￦"+room.price
  form(method='post', action='/rooms/#{room._id}/booking')
    .row
      .col-md-12(style="margin-bottom:20px;padding:0px")
        .col-sm-4.col-md-6.reservation_input
          label(for='start_date') 체크인
          input.form-control(type='date', id='start_date', name='start_date')
        .col-sm-4.col-md-6.reservation_input
          label(for='end_date') 체크아웃
          input.form-control(type='date', id='end_date', name='end_date')
            

        .col-sm-4.col-md-6.reservation_input
          label(for='occupancy') 숙박 인원
          .select
            select.form-control(name='occupancy')
              option(value='1', selected) 1
              option(value='2') 2
              option(value='3') 3

    .book-it__subtotal
      div
        table.table
          caption
            span 요금 내역
          thead
            tr
              th
                span 요금 설명
              th
                span 금액
          tbody
            tr
              th
                span 숙소
                span &nbsp;
              td
                div
                  span="￦"+room.price
            tr
              th
                span 서비스 수수료
                span &nbsp;
              td
                  div
                    span="￦"+parseInt(room.price)*0.2
              tr
                th
                  span 합계
                td
                  span="￦"+(parseInt(room.price)*1.2)
      .book-it__btn-width
        button.btn.btn-primary.btn-large.btn-block(type='submit') 예약 요청
  div(style="padding:2em 0em 3em")
    form(method='post', action='/rooms/#{room._id}/Favorite')
        .book-it__btn-width
          button.btn.btn-primary.btn-large.btn-block(type='submit') Favorite 목록에 추가
      script(type='text/javascript').
        $("div.border.affix-top").affix({offset: {top: 500} });
        var template = _.template($('#template').html());
        var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        if (width < 1023){
            console.log(width);
            $('#messages').append("<div class='fixed'><a href='/rooms/#{room._id}/booking' class='btn btn-lg btn-primary btn-block reserving'>예약 하기</a><div>");
            $('.col-md-4#room-side').addClass("hidden");
        }else{
            $('.col-md-4#room-side.hidden').removeClass("hidden");
        }
    