extends layout



block content
  .container-fluid
      img.img-responsive(src='https://cdn.evbstatic.com/s3-build/perm_001/35d88f/django/images/home/banners/homepage_hero_banner_1.jpg', alt='picture of ian')
    section#card-content
      .text-card.card.text-center.col-md-9.col-lg-10.col-centered
        h1.text-card-heading Find your next experience
        form.form-inline.col-md-9.col-lg-10.col-centered
          input.inlineFormInputLocation.form-control-lg.searchForm(type='text', placeholder='City or location')
          input.inlineFormInputLocation.form-control-lg.searchForm(type='date', id='start_date', name='start_date', placeholder='start_date')
          input.inlineFormInputLocation.form-control-lg.searchForm(type='date', id='end_date', name='end_date', placeholder='end_date')
          button.btn.btn-search.searchForm(type='button') Search
    section#post-grids
      h1.post-heading
        | Popular Events in 
        span#text-color-blue Seoul, Republic of Korea
      .posts-container.card-columns.col-md-10.col-centered
        each room in rooms
          div(style='height:575px;')
            .card
              img.card-img-top(src=room.filePath, alt='Card image cap' style='height:280px;')
              .card-body
                p.start-date="시작일 :" + moment(room.start_date).format('YYYY-MM-DD')
                p.end-date="종료일 :" + moment(room.end_date).format('YYYY-MM-DD')
                p.event-info="요금 :1일당 "+room.price+"원"
                p.specific-info="주소 :" + room.address
            .card-footer.nav
              ul.nav
              li.nav-item
                p.hash-tag.nav-link="#"+room.city
              ul.navbar-nav.ml-auto
                li.nav-item
                  a.fa.fa-facebook(href='www.facebook.com')
                  a.fa.fa-twitter(href='https://twitter.com/')
    .text-center
      button#see-more-btn.btn-lg.btn-outline-primary(type='button') SEE MORE
    section#Top-categories
      .text-center
        h3#browse-category-text Browse by Top Categories
      .container.categories-container.col-lg-10.col-centered.row
        .category.music.col-lg-8.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='http://events.ottawaperks.ca/assets/img/event-categories/5_cover.jpg', alt='music image')
          .caption.cap.music-label
            p.caption.cap.-text Music
        .category.food-N-drink.col-lg-4.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='https://foodtank.com/wp-content/uploads/2017/03/Food-Tank-Keri-Glassman-interview.jpg', alt='food image')
          .caption.cap.food-N-drink-label
            p.caption.cap.-text Food-&-drink
        .category.classes.col-lg-4.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='http://i.huffpost.com/gen/1265935/images/h-COLLEGE-CLASS-628x314.jpg', alt='classes image')
          .caption.cap.classes-label
            p.caption.cap.-text Classes
        .category.arts.col-lg-4.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0gMlhAZC1KGnqj9jk28zR5uJwows0TiGcS7pVJcY96k1DWxywJg', alt='arts image')
          .caption.cap.arts-label
            p.caption.cap.-text Arts
        .category.parties.col-lg-4.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEAOgj8Y0pZJq1qc6eKYmYwW6iQH9u9EoE74QDVAAs2y7OibDstw', alt='party image')
          .caption.cap.parties-label
            p.caption.cap.-text Parties
        .category.sports-N-wellness.col-lg-4.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbEZw55kKTOGS1aUupVybiXTV7p454ViNulZDts40PSpnLQi52IA', alt='sports image')
          .caption.cap.sports-N-wellness-label
            p.caption.cap.-text Sports-N-wellness
        .category.networking.col-lg-8.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='http://businesspulse.co/wp-content/uploads/2017/08/Networking-events.jpg', alt='networking image')
          .caption.cap.networking-label
            p.caption.cap.-text Networking
    
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', crossorigin='anonymous')

  
