include ../profile_layout
.container
      h1.page-header 예약 확인
      
      h3 예약중인 숙소
      table.table.table-striped.table-bordered
        thead
          tr
            th 숙소이름
            th 체크인 날짜
            th 체크아웃 날짜
            th 숙박인원
            th
        tbody
          each booking in bookings
            if !(booking.currentState)
              tr
                td 
                  a(href='/rooms/#{booking.room_id}')= booking.room_title
                td= moment(booking.start_date).format('YYYY-MM-DD')
                td= moment(booking.end_date).format('YYYY-MM-DD')
                td= booking.occupancy
                td
                  a.btn.btn-xs.btn-default(data-id=booking.id, class='delete') 취소

      
      h3 예약 완료된 숙소
      table.table.table-striped.table-bordered
        thead
          tr
            th 숙소이름
            th 체크인 날짜
            th 체크아웃 날짜
            th 숙박인원
            th
        tbody
          each booking in bookings
            if booking.currentState
              tr
                td 
                  a(href='/rooms/#{booking.room_id}')= booking.room_title
                td= moment(booking.start_date).format('YYYY-MM-DD')
                td= moment(booking.end_date).format('YYYY-MM-DD')
                td= booking.occupancy
                td
                  a.btn.btn-xs.btn-default(data-id=booking.id, class='delete') 취소
      if user.ifHost
        h3 내 숙소 예약 현황
        table.table.table-striped.table-bordered
          thead
            tr
              th 숙소이름
              td 예약자 이름
              th 체크인 날짜
              th 체크아웃 날짜
              th 숙박인원
              th
          tbody
            each booked in bookeds
              if booked.currentState
                tr
                  td 
                    a(href='/rooms/#{booked.room_id}')= booked.room_title
                  td= booked.user_name
                  td= moment(booked.start_date).format('YYYY-MM-DD')
                  td= moment(booked.end_date).format('YYYY-MM-DD')
                  td= booked.occupancy
                  td
                    a.btn.btn-xs.btn-default(data-id=booked.id, class='delete') 취소
    form#deleteForm(style='display:none', method="POST")
            
    script(type='text/javascript').
      $(".delete").click(function(e) {
        var id = $(e.currentTarget).data('id');
        if (confirm('정말 삭제하시겠습니까?')) {
          $("#deleteForm").attr('action', "/users/" + id + "/reservation?_method=DELETE").submit();          
        }
        return false;
      });
      

    